html,
body {
    margin:0;
    height:100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. */
    padding-bottom:60px;   /* Height of the footer */
}

#content {
    min-height:100%;
    position:relative;
 }

 .footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
 }
 
 a{
     color: #000000;
 }

 #title{
     color: black;
     font-weight: bold;
     font-size: 20px;
 }

 #author{
    color: black;
    font-size: 14px;
}

#posting-list{
    border-radius: 5px;
    background-color: #F9F9F9;
    padding: 10px;
    margin-bottom: 8px;
}


/* Navbar */
.navbar {    
    background: #900C3F ;     
    
}
.navbar .nav>li>a {    
    color : #ffffff;      
    font-weight: normal;   
}
.navbar .navbar-header>a{
     color : #ffffff;      
    font-weight: normal;
}

.navbar .nav>li>a:hover,
.navbar .nav>li>a:focus {    
    color : #ffffff;    
}